@page "/login"
@using CryptocurrencyMarketMonitoring.Client.Helpers;
@using CryptocurrencyMarketMonitoring.Client.Services;
@using CryptocurrencyMarketMonitoring.Shared;
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <div class="card-header">
            <img src="/img/logo2.png" width="141" height="50" class="float-left" alt="">

            <h4 class="text-white">Login to DVCRYPTO</h4>
            <h6 class="text-white">Don't have an acount yet? <a href="register" class="text-info">Register here</a></h6>

        </div>
        <div class="card-body">
            <EditForm Model="@_login" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="_login.Username" class="form-control" />
                    <ValidationMessage For="@(() => _login.Username)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="_login.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => _login.Password)" />
                </div>
                <button class="btn btn-primary">
                    @if (_loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@_error</div>
                }
            </EditForm>
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }

    private async void HandleValidSubmit()
    {
        _loading = true;
        try
        {
            await AuthenticationService.Login(_login.Username, _login.Password);
            var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            _error = ex.Message;
            _loading = false;
            StateHasChanged();
        }
    }

    private LoginDto _login = new LoginDto();
    private bool _loading;
    private string _error;


}