@inherits LayoutComponentBase
@inject NavigationManager NavigationManager



<div class="topbar py-0">
    <NavMenu />
</div>


@*<div class="page">

    <div class="main">*@

<div class="content">
    @Body
</div>
@*</div>
    </div>*@

<!-- Footer -->
<footer class="page-footer footerbar font-small pt-0 fixed-bottom">
    <div class="footer-copyright text-center py-1">
        ©2021 Daniel Večeř
    </div>
</footer>
<!-- Footer -->
