@using CryptocurrencyMarketMonitoring.Client.Services

@inject IAuthenticationService AuthenticationService
@implements IDisposable


<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand text-dark" href="">
        <img src="/img/logo2.png" width="141" height="50" alt="">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-pulse" aria-hidden="true"></span> Overview
                </NavLink>
            </li>
        </ul>

        @if (AuthenticationService.User == null)
        {
            <ul class="navbar-nav float-md-right">
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-person" aria-hidden="true"></span> Sign Up
                    </NavLink>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav float-md-right">
                <li class="nav-item">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-person" aria-hidden="true"></span> @AuthenticationService.User.FirstName @AuthenticationService.User.LastName
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </NavLink>
                </li>
            </ul>
        }

    </div>
</nav>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        AuthenticationService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AuthenticationService.OnChange -= StateHasChanged;
    }
}
